<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>674150249561-j9knvfk91ot0hggrn0qh6acm10snksqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674150249561-j9knvfk91ot0hggrn0qh6acm10snksqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCX9yc7j2nzzL_u055e7TWG6uEIrlYX_SA</string>
	<key>GCM_SENDER_ID</key>
	<string>674150249561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.local.SampleChat</string>
	<key>PROJECT_ID</key>
	<string>samplechat-fe440</string>
	<key>STORAGE_BUCKET</key>
	<string>samplechat-fe440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:674150249561:ios:00dcf20805ccbe93</string>
	<key>DATABASE_URL</key>
	<string>https://samplechat-fe440.firebaseio.com</string>
</dict>
</plist>